.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/shelf/
.idea/workspace.xml
assetWizardSettings.xml
.idea/copilot
