<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <queries>
        <package android:name="org.jessies.dalvikexplorer" />
        <package android:name="org.jtb.alogcat.donate" />
        <package android:name="org.jtb.alogcat" />
        <package android:name="jp.susatthi.ManifestViewer" />
        <package android:name="com.emmaguy.cleanstatusbar" />
    </queries>

    <application
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.roysolberg.android.developertools.ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.CustomToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="com.roysolberg.android.developertools.ui.activity.ResourceQualifiersActivity"
            android:label="@string/resource_qualifiers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roysolberg.android.developertools.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.roysolberg.android.developertools.ui.activity.NetworkInfoActivity"
            android:label="@string/network">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roysolberg.android.developertools.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.roysolberg.android.developertools.ui.activity.SystemFeaturesActivity"
            android:label="@string/system_features">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roysolberg.android.developertools.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.roysolberg.android.developertools.ui.activity.ScreenDimensionsActivity"
            android:label="@string/screen_dimensions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roysolberg.android.developertools.ui.activity.MainActivity" />
        </activity>
    </application>

</manifest>